.image IMG { 
	left: 1800px;}


.bkimg{
    width: 100%;
    height: 100%;
    background: url(agr.png);
    background-size: cover;

}


.container {
    position: relative;
    left: 150px;
    width: 100%;
    max-width: 2104px;
}

.container img {
    width: 2304px;
    height: 1183px;
}

.container .btn1 {
    position: absolute;
    top: 100px;
    left: 250px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: url(uslugi.jpg);
    background-position: -300px;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 50%;
    text-align: center;
    width: 170px; 
    height: 170px;
    background-image-animation: moveText 5s infinite;
}

@keyframes moveText {


0% {


transform: translateX(0);


}


50% {


transform: translateX(200px);


}


100% {


transform: translateX(0);


}


}

.container .btn2 {
    position: absolute;
    top: 300px;
    left: 250px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: url(ceny.jpg);
    background-position: -420px;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 50%;
    text-align: center;
    width: 170px; 
    height: 170px;
}


.container .btn3 {
    position: absolute;
    top: 500px;
    left: 250px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: url(bronirovanie.jpg);
    background-position: -380px;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 50%;
    text-align: center;
    width: 170px; 
    height: 170px;
}


.container .btn4 {
    position: absolute;
    top: 700px;
    left: 250px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: url(kontakty.jpg);
    background-position: -940px;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 50%;
    text-align: center;
    width: 170px; 
    height: 170px;
}


.container .btn5 {
    position: absolute;
    top: 900px;
    left: 250px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: url(photo.jpg);
    background-position: top 350px left 440px;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 50%;
    text-align: center;
    width: 170px; 
    height: 170px;
}


.container .btn6 {
    position: absolute;
    top: 1100px;
    left: 250px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: url(onas.jpg);
    background-position: -400px,-200px;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 50%;
    text-align: center;
    width: 170px; 
    height: 170px;
}


.text1{
    position: absolute;
    top: 50px;
    left: 380px;
    color: black;
    font-family: segoe print;
    font-size: 60px;
    text-decoration: none; 
}



 A {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: black;
   } 
   A:hover { 
    color: red; /* Ссылка красного цвета */
   } 


.container .text1:hover {
   cursor: pointer;
   font-size: 75px;
   top: 35px;
   left: 380px;
}

.text2{
    position: absolute;
    top: 250px;
    left: 380px;
    color: black;
    font-family: segoe print;
    font-size: 60px;
}

.container .text2:hover {
   cursor: pointer;
   font-size: 75px;
   top: 235px;
    left: 380px;
}

.text3{
    position: absolute;
    top: 450px;
    left: 380px;
    color: black;
    font-family: segoe print;
    font-size: 60px;
}


.container .text3:hover {
   cursor: pointer;
      font-size: 75px;
   top: 435px;
   left: 380px;
}

.text4{
    position: absolute;
    top: 650px;
    left: 380px;
    color: black;
    font-family: segoe print;
    font-size: 60px;
}


.container .text4:hover {
   cursor: pointer;
      font-size: 75px;
   top: 635px;
   left: 380px;
}

.text5{
    position: absolute;
    top: 850px;
    left: 380px;
    color: black;
    font-family: segoe print;
    font-size: 60px;
}


.container .text5:hover {
   cursor: pointer;
   font-size: 75px;
   top: 835px;
   left: 380px;
}

.text6{
    position: absolute;
    top: 1050px;
    left: 380px;
    color: black;
    font-family: segoe print;
    font-size: 60px;
}


.container .text6:hover {
   cursor: pointer;
   font-size: 75px;
   top: 1035px;
   left: 380px;
}


.container .btn7 {
    position: absolute;
    top: 100px;
    left: 0px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: url(uslugi.jpg);
    background-position: -300px;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 50%;
    text-align: center;
    width: 150px; 
    height: 150px;
}

.text7{
    position: absolute;
    top: 10px;
    left: 30px;
    color: black;
    font-family: segoe print;
    font-size: 50px;
}


.text8{
    position: absolute;
    top: 150px;
    left: 30px;
    color: #545252;
    font-family: Proxima Nova;
    font-size: 25px;
}

.text9{
    position: absolute;
    top: 5px;
    left: 400px;
    color: black;
    font-family: segoe print;
    font-size: 56px;
    font-weight: bold;
}


.f {
    position: absolute;
    left: 0px;
    top: 240px;
}


.content{
    height: 300px; 
    width: 759.473px; 
    position: relative; 
    overflow: hidden;
}


.txcl {
    position: absolute;
    color: red;
    top: 220px;
    left: 30px;
    font-family: Proxima Nova;
    font-size: 20px;
}


input[type="text"]{
    position: relative;
display: inline-block;
width: 700px;
height: 120px;
box-sizing: border-box;
outline: none;
border: 0px solid lightgray;
border-radius: 35px;
padding: 10px 25px;
transition: all 0.3s ease-out;
transition-delay: 0.2s;
background-color: transparent;
font-weight: lighter;
    font-size: 50px;
    font-family: Proxima Nova;
    color: black;
    opacity: 0.6;;
}

input[type="date"]{
    position: relative;
display: inline-block;
width: 320px;
height: 140px;
box-sizing: border-box;
outline: none;
border: 0px solid lightgray;
border-radius: 35px;
padding: 1px 2px;
transition: all 0.3s ease-out;
transition-delay: 0.2s;
background-color: transparent;
font-weight: lighter;
    font-size: 50px;
    font-family: Proxima Nova;
    color: black;
}


input[type="button"]{

position: absolute;
width: 207px;
height: 57px;
  border: 0px solid white;
  background-color: white;
  border-radius: 35px;

    display: flex;
align-items: center;
justify-content: center;
color: black;
font-weight: lighter;
    font-size: 25px;
    font-family: Proxima Nova;
    top: 850px;
    left: 22px;
}


input[type="button"]:active {
  box-shadow: inset 0 3px 7px #262c99;
  padding: 1px 0 0 1px;
}

::-webkit-input-placeholder {color:#156C60;}
::-moz-placeholder          {color:#156C60;}
:-moz-placeholder           {color:#156C60}
:-ms-input-placeholder      {color:#156C60;}


.round1 {
    position: absolute;
width: 750px;
height: 80px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 35px;
  top: 20px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
}

.opacity1{
opacity: 0.2;
}

.round2 {
    position: absolute;
width: 750px;
height: 80px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 35px;
  top: 144px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
}

.opacity2{
opacity: 0.2;
}


.round3 {
    position: absolute;
width: 750px;
height: 80px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 35px;
  top: 268px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
}

.opacity3{
opacity: 0.2;
}


.round4 {
    position: absolute;
width: 750px;
height: 80px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 35px;
  top: 392px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
}

.opacity4{
opacity: 0.2;
}


.round5 {
    position: absolute;
width: 750px;
height: 80px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 35px;
  top: 516px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
}

.opacity5{
opacity: 0.2;
}


.round6 {
    position: absolute;
width: 750px;
height: 180px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 35px;
  top: 640px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
}

.opacity6{
opacity: 0.2;
}


.fix{
    position: fixed;
}


.usl1{
    position: absolute;
    top: 180px;
    font-size: 42px;
    font-family: FRANKLIN GOTHIC MEDIUM;
    font-weight: bold;
    width: 1000px;
    text-align: center;
}



.usl2{
    position: absolute;
    left: 0px;
    top: 260px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}

.round7 {
position: absolute;
width: 1000px;
height: 50px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 5px;
  top: 180px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
    opacity: 0.2;
}



.usl3{
    position: absolute;
    top: 540px;
    font-size: 42px;
    font-family: FRANKLIN GOTHIC MEDIUM;
    font-weight: bold;
    width: 1000px;
    text-align: center;
}



.usl4{
    position: absolute;
    left: 0px;
    top: 620px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}


.round8 {
    position: absolute;
width: 1000px;
height: 50px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 5px;
  top: 540px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
    opacity: 0.2;
}



.usl5{
    position: absolute;
    top: 1040px;
    font-size: 42px;
    font-family: FRANKLIN GOTHIC MEDIUM;
    font-weight: bold;
    width: 1000px;
    text-align: center;
}



.usl6{
    position: absolute;
    left: 0px;
    top: 1120px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}


.round9 {
    position: absolute;
width: 1000px;
height: 50px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 5px;
  top: 1040px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
    opacity: 0.2;
}



.usl7{
    position: absolute;
    top: 1565px;
    font-size: 42px;
    font-family: FRANKLIN GOTHIC MEDIUM;
    font-weight: bold;
    width: 1000px;
    text-align: center;
}



.usl8{
    position: absolute;
    left: 0px;
    top: 1650px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}


.round10 {
    position: absolute;
width: 1000px;
height: 50px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 5px;
  top: 1565px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
    opacity: 0.2;
}


ul {
    list-style: none;
}

ul li:before {
    content:  "—";
    position: relative;
    left: -30px;
}



.lightbox {
  display: none;

  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox:target {
  display: block;
}

.lightbox span {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.layer1 {
    position: absolute;
    top: 160px;
    left: 150px;
    z-index: 2; }


.layer2 {
    position: absolute;
    top: 160px;
    left: 400px;
    z-index: 2; }

.layer3 {
    position: absolute;
    top: 160px;
    left: 650px;
    z-index: 2; }


.layer4 {
    position: absolute;
    top: 160px;
    left: 900px;
    z-index: 2; }



    .layer5 {
    position: absolute;
    top: 360px;
    left: 150px;
    z-index: 2; }


.layer6 {
    position: absolute;
    top: 360px;
    left: 400px;
    z-index: 2; }

.layer7 {
    position: absolute;
    top: 360px;
    left: 650px;
    z-index: 2; }


.layer8 {
    position: absolute;
    top: 360px;
    left: 900px;
    z-index: 2; }



.layer9 {
    position: absolute;
    top: 560px;
    left: 150px;
    z-index: 2; }


.layer10 {
    position: absolute;
    top: 560px;
    left: 400px;
    z-index: 2; }

.layer11 {
    position: absolute;
    top: 560px;
    left: 650px;
    z-index: 2; }


.layer12 {
    position: absolute;
    top: 560px;
    left: 900px;
    z-index: 2; }



.layer13 {
    position: absolute;
    top: 760px;
    left: 150px;
    z-index: 2; }


.layer14 {
    position: absolute;
    top: 760px;
    left: 400px;
    z-index: 2; }

.layer15 {
    position: absolute;
    top: 760px;
    left: 650px;
    z-index: 2; }


.layer16 {
    position: absolute;
    top: 760px;
    left: 900px;
    z-index: 2; }


    .layer17 {
    position: absolute;
    top: 960px;
    left: 150px;
    z-index: 2; }


.layer18 {
    position: absolute;
    top: 960px;
    left: 400px;
    z-index: 2; }

.layer19 {
    position: absolute;
    top: 960px;
    left: 650px;
    z-index: 2; }


.layer20 {
    position: absolute;
    top: 960px;
    left: 900px;
    z-index: 2; }



    .layer21 {
    position: absolute;
    top: 1160px;
    left: 150px;
    z-index: 2; }


.layer22 {
    position: absolute;
    top: 1160px;
    left: 400px;
    z-index: 2; }

.layer23 {
    position: absolute;
    top: 1160px;
    left: 650px;
    z-index: 2; }


.layer24 {
    position: absolute;
    top: 1160px;
    left: 900px;
    z-index: 2; }


    .layer0 {
    position: absolute;
    top: 1360px;
    left: 900px;
    z-index: 2; 
opacity: 0;}



* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    height: 1100px;
    margin: 0px auto 0;
    position: relative;
    width: 2350px;
}

.slider {
    background-color: #ddd;
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
    background-color: transparent;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    box-shadow: 0 0 20px transparent;
}

.wrapper > input {
    display: none;
}


.slides {
    height: inherit;
    position: absolute;
    width: inherit;
}


.slide1 { 
    background-image: url(1.jpg); 
    display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slide2 {
 background-image: url(2.jpg); 
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slide3 { 
    background-image: url(3.jpg); 
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slide4 { 
    background-image: url(4.jpg); 
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slide5 { 
    background-image: url(5.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .slide6 { 
    background-image: url(6.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .slide7 { 
    background-image: url(7.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .slide8 { 
    background-image: url(8.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .slide9 { 
    background-image: url(9.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .slide10 { 
    background-image: url(10.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .slide11 { 
    background-image: url(11.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .slide12 { 
    background-image: url(12.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .slide13 { 
    background-image: url(13.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .slide14 { 
    background-image: url(14.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .slide15 { 
    background-image: url(15.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .slide16 { 
    background-image: url(16.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .slide17 { 
    background-image: url(17.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .slide18 { 
    background-image: url(18.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .slide19 { 
    background-image: url(19.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .slide20 { 
    background-image: url(20.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .slide21 { 
    background-image: url(21.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .slide22 { 
    background-image: url(22.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .slide23 { 
    background-image: url(23.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }
 .slide24 { 
    background-image: url(24.jpg);
display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
 }



.wrapper .controls {
    left: 30%;
    margin-left: -98px;
    position: absolute;
}

.wrapper label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.wrapper label:after {
    border: 2px solid #ddd;
    content: " ";
    display: block;
    height: 30px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.wrapper label {
    cursor: pointer;
    display: inline-block;
    height: 24px;
    margin: 25px 12px 10 16px;
    position: relative;
    width: 24px;
    -webkit-border-radius: 20%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background ease-in-out .5s;
    -moz-transition: background ease-in-out .5s;
    -o-transition: background ease-in-out .5s;
    transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5),
#slide6:checked ~ .controls label:nth-of-type(6),
#slide7:checked ~ .controls label:nth-of-type(7),
#slide8:checked ~ .controls label:nth-of-type(8),
#slide9:checked ~ .controls label:nth-of-type(9),
#slide10:checked ~ .controls label:nth-of-type(10),
#slide11:checked ~ .controls label:nth-of-type(11),
#slide12:checked ~ .controls label:nth-of-type(12),
#slide13:checked ~ .controls label:nth-of-type(13),
#slide14:checked ~ .controls label:nth-of-type(14),
#slide15:checked ~ .controls label:nth-of-type(15),
#slide16:checked ~ .controls label:nth-of-type(16),
#slide17:checked ~ .controls label:nth-of-type(17),
#slide18:checked ~ .controls label:nth-of-type(18),
#slide19:checked ~ .controls label:nth-of-type(19),
#slide20:checked ~ .controls label:nth-of-type(20),
#slide21:checked ~ .controls label:nth-of-type(21),
#slide22:checked ~ .controls label:nth-of-type(22),
#slide23:checked ~ .controls label:nth-of-type(23),
#slide24:checked ~ .controls label:nth-of-type(24) {
    background: #ddd;
}

.slides {
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5,
#slide6:checked ~ .slider > .slide6,
#slide7:checked ~ .slider > .slide7,
#slide8:checked ~ .slider > .slide8,
#slide9:checked ~ .slider > .slide9,
#slide10:checked ~ .slider > .slide10,
#slide11:checked ~ .slider > .slide11,
#slide12:checked ~ .slider > .slide12,
#slide13:checked ~ .slider > .slide13,
#slide14:checked ~ .slider > .slide14,
#slide15:checked ~ .slider > .slide15,
#slide16:checked ~ .slider > .slide16,
#slide17:checked ~ .slider > .slide17,
#slide18:checked ~ .slider > .slide18,
#slide19:checked ~ .slider > .slide19,
#slide20:checked ~ .slider > .slide20,
#slide21:checked ~ .slider > .slide21,
#slide22:checked ~ .slider > .slide22,
#slide23:checked ~ .slider > .slide23,
#slide24:checked ~ .slider > .slide24 {
    opacity: 1;
    z-index: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


.layer25 {
    position: absolute;
    top: 700px;
    left: 150px;
    z-index: 2; }


.textn{
    position: absolute;
    top: 550px;
    left: -620px;
    color: black;
    font-family: FRANKLIN GOTHIC MEDIUM;
    font-size: 86px;
    transform: rotate(-90deg) scale(1, 4.5);
    background: linear-gradient(#4AB58C 21%, #2A966D 14%, #28DE98 27%, #7DFFCD 35%, #85CCB1);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.3;
}

.textnusl{
    position: absolute;
    top: 590px;
    left: -610px;
    color: black;
    font-family: FRANKLIN GOTHIC MEDIUM;
    font-size: 76px;
    transform: rotate(-90deg) scale(1, 2.5);
    background: linear-gradient(#4AB58C 21%, #2A966D 14%, #28DE98 27%, #7DFFCD 35%, #85CCB1);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.3;
}



.texton1{
    position: absolute;
    left: 0px;
    top: 130px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
    font-weight: bold;
}


.texton2{
    position: absolute;
    left: 0px;
    top: 313px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}


.texton3{
    position: absolute;
    left: 0px;
    top: 430px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}

.texton4{
    position: absolute;
    left: 0px;
    top: 615px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
    font-weight: bold;
}


.texton5{
    position: absolute;
    left: 0px;
    top: 665px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}


.texton6{
    position: absolute;
    left: 0px;
    top: 845px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}


.texton7{
    position: absolute;
    left: 0px;
    top: 1130px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}


.texton8{
    position: absolute;
    left: 0px;
    top: 1215px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
    font-weight: bold;
}


.texton9{
    position: absolute;
    left: 0px;
    top: 1260px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}


.texton10{
    position: absolute;
    left: 0px;
    top: 1440px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}


.texton11{
    position: absolute;
    left: 0px;
    top: 1550px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}


.texton12{
    position: absolute;
    left: 0px;
    top: 1630px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
    font-weight: bold;
}

.texton13{
    position: absolute;
    left: 0px;
    top: 1675px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}


.texton14{
    position: absolute;
    left: 0px;
    top: 1790px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}


.texton15{
    position: absolute;
    left: 0px;
    top: 2035px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}


.texton16{
    position: absolute;
    left: 0px;
    top: 2110px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}



.r {
    position: absolute;
width: 100px;
height: 100px;
  top: 2200px;
  left: 0px;
  opacity: 0;
}