.image IMG { 
	left: 1800px;}


.bkimg{
    width: 100%;
    height: 100%;
    background: url(agr.png);
    background-size: cover;

}


.container {
    position: relative;
    left: 150px;
    width: 100%;
    max-width: 2104px;
}

.container img {
    width: 2304px;
    height: 1183px;
}

.container .btn1 {
    position: absolute;
    top: 100px;
    left: 0px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: url(uslugi.jpg);
    background-position: -300px;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 50%;
    text-align: center;
    width: 150px; 
    height: 150px;
}


.container .btn2 {
    position: absolute;
    top: 300px;
    left: 0px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: url(ceny.jpg);
    background-position: -420px;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 50%;
    text-align: center;
    width: 150px; 
    height: 150px;
}


.container .btn3 {
    position: absolute;
    top: 500px;
    left: 0px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: url(bronirovanie.jpg);
    background-position: -380px;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 50%;
    text-align: center;
    width: 150px; 
    height: 150px;
}


.container .btn4 {
    position: absolute;
    top: 700px;
    left: 0px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: url(kontakty.jpg);
    background-position: -940px;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 50%;
    text-align: center;
    width: 150px; 
    height: 150px;
}


.container .btn5 {
    position: absolute;
    top: 900px;
    left: 0px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: url(photo.jpg);
    background-position: top 350px left 440px;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 50%;
    text-align: center;
    width: 150px; 
    height: 150px;
}


.container .btn6 {
    position: absolute;
    top: 1100px;
    left: 0px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: url(onas.jpg);
    background-position: -400px,-200px;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 50%;
    text-align: center;
    width: 150px; 
    height: 150px;
}


.text1{
    position: absolute;
    top: 60px;
    left: 120px;
    color: black;
    font-family: segoe print;
    font-size: 50px;
    text-decoration: none; 
}


 A {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: black;
   } 
   A:hover { 
    color: red; /* Ссылка красного цвета */
   } 


.container .text1:hover {
   cursor: pointer;
   font-size: 65px;
   top: 45px;
   left: 90px;
}

.text2{
    position: absolute;
    top: 260px;
    left: 120px;
    color: black;
    font-family: segoe print;
    font-size: 50px;
}

.container .text2:hover {
   cursor: pointer;
   font-size: 65px;
   top: 245px;
    left: 90px;
}

.text3{
    position: absolute;
    top: 460px;
    left: 120px;
    color: black;
    font-family: segoe print;
    font-size: 50px;
}


.container .text3:hover {
   cursor: pointer;
      font-size: 65px;
   top: 445px;
   left: 90px;
}

.text4{
    position: absolute;
    top: 660px;
    left: 120px;
    color: black;
    font-family: segoe print;
    font-size: 50px;
}


.container .text4:hover {
   cursor: pointer;
      font-size: 65px;
   top: 645px;
   left: 90px;
}

.text5{
    position: absolute;
    top: 860px;
    left: 120px;
    color: black;
    font-family: segoe print;
    font-size: 50px;
}


.container .text5:hover {
   cursor: pointer;
   font-size: 65px;
   top: 845px;
   left: 90px;
}

.text6{
    position: absolute;
    top: 1060px;
    left: 120px;
    color: black;
    font-family: segoe print;
    font-size: 50px;
}


.container .text6:hover {
   cursor: pointer;
   font-size: 65px;
   top: 1045px;
   left: 90px;
}


.container .btn7 {
    position: absolute;
    top: 100px;
    left: 0px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: url(uslugi.jpg);
    background-position: -300px;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 50%;
    text-align: center;
    width: 150px; 
    height: 150px;
}

.text7{
    position: absolute;
    top: 10px;
    left: 30px;
    color: black;
    font-family: segoe print;
    font-size: 50px;
}


.text8{
    position: absolute;
    top: 150px;
    left: 30px;
    color: #545252;
    font-family: Proxima Nova;
    font-size: 25px;
}

.text9{
    position: absolute;
    top: 5px;
    left: 400px;
    color: black;
    font-family: segoe print;
    font-size: 56px;
    font-weight: bold;
}


.f {
    position: absolute;
    left: 0px;
    top: 240px;
}


.content{
    height: 300px; 
    width: 759.473px; 
    position: relative; 
    overflow: hidden;
}


.txcl {
    position: absolute;
    color: red;
    top: 220px;
    left: 30px;
    font-family: Proxima Nova;
    font-size: 20px;
}


input[type="text"]{
    position: relative;
display: inline-block;
width: 700px;
height: 120px;
box-sizing: border-box;
outline: none;
border: 0px solid lightgray;
border-radius: 35px;
padding: 10px 25px;
transition: all 0.3s ease-out;
transition-delay: 0.2s;
background-color: transparent;
font-weight: lighter;
    font-size: 50px;
    font-family: Proxima Nova;
    color: black;
    opacity: 0.6;;
}

input[type="date"]{
    position: relative;
display: inline-block;
width: 320px;
height: 140px;
box-sizing: border-box;
outline: none;
border: 0px solid lightgray;
border-radius: 35px;
padding: 1px 2px;
transition: all 0.3s ease-out;
transition-delay: 0.2s;
background-color: transparent;
font-weight: lighter;
    font-size: 50px;
    font-family: Proxima Nova;
    color: black;
}


input[type="button"]{

position: absolute;
width: 207px;
height: 57px;
  border: 0px solid white;
  background-color: white;
  border-radius: 35px;

    display: flex;
align-items: center;
justify-content: center;
color: black;
font-weight: lighter;
    font-size: 25px;
    font-family: Proxima Nova;
    top: 850px;
    left: 22px;
}


input[type="button"]:active {
  box-shadow: inset 0 3px 7px #262c99;
  padding: 1px 0 0 1px;
}

::-webkit-input-placeholder {color:#156C60;}
::-moz-placeholder          {color:#156C60;}
:-moz-placeholder           {color:#156C60}
:-ms-input-placeholder      {color:#156C60;}


.round1 {
    position: absolute;
width: 750px;
height: 80px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 35px;
  top: 20px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
}

.opacity1{
opacity: 0.2;
}

.round2 {
    position: absolute;
width: 750px;
height: 80px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 35px;
  top: 144px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
}

.opacity2{
opacity: 0.2;
}


.round3 {
    position: absolute;
width: 750px;
height: 80px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 35px;
  top: 268px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
}

.opacity3{
opacity: 0.2;
}


.round4 {
    position: absolute;
width: 750px;
height: 80px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 35px;
  top: 392px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
}

.opacity4{
opacity: 0.2;
}


.round5 {
    position: absolute;
width: 750px;
height: 80px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 35px;
  top: 516px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
}

.opacity5{
opacity: 0.2;
}


.round6 {
    position: absolute;
width: 750px;
height: 180px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 35px;
  top: 640px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
}

.opacity6{
opacity: 0.2;
}


.fix{
    position: fixed;
}


.usl1{
    position: absolute;
    top: 180px;
    font-size: 42px;
    font-family: FRANKLIN GOTHIC MEDIUM;
    font-weight: bold;
    width: 1000px;
    text-align: center;
}



.usl2{
    position: absolute;
    left: 0px;
    top: 260px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}

.round7 {
position: absolute;
width: 1000px;
height: 50px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 5px;
  top: 180px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
    opacity: 0.2;
}



.usl3{
    position: absolute;
    top: 540px;
    font-size: 42px;
    font-family: FRANKLIN GOTHIC MEDIUM;
    font-weight: bold;
    width: 1000px;
    text-align: center;
}



.usl4{
    position: absolute;
    left: 0px;
    top: 620px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}


.round8 {
    position: absolute;
width: 1000px;
height: 50px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 5px;
  top: 540px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
    opacity: 0.2;
}



.usl5{
    position: absolute;
    top: 1040px;
    font-size: 42px;
    font-family: FRANKLIN GOTHIC MEDIUM;
    font-weight: bold;
    width: 1000px;
    text-align: center;
}



.usl6{
    position: absolute;
    left: 0px;
    top: 1120px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}


.round9 {
    position: absolute;
width: 1000px;
height: 50px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 5px;
  top: 1040px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
    opacity: 0.2;
}



.usl7{
    position: absolute;
    top: 1565px;
    font-size: 42px;
    font-family: FRANKLIN GOTHIC MEDIUM;
    font-weight: bold;
    width: 1000px;
    text-align: center;
}



.usl8{
    position: absolute;
    left: 0px;
    top: 1610px;
    font-size: 30px;
    font-family: Proxima Nova;
    text-align: justify;
    width: 1000px;
}


.round10 {
    position: absolute;
width: 1000px;
height: 50px;
  border: 0px solid black;
  background-color: #41A698;
  border-radius: 5px;
  top: 1565px;
  left: 0px;
    display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: lighter;
    font-size: 27px;
    font-family: Proxima Nova;
    opacity: 0.2;
}


ul {
    list-style: none;
}

ul li:before {
    content:  "—";
    position: relative;
    left: -30px;
}
<<<<<<< HEAD


.page-title {
  text-align: center;
}

.slider-container {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
=======
>>>>>>> 20e64ade9c60d6a13daa4fa46aaaf34db64ce11c
